[Unit]
Description=Kubernetes IPFS Trigger Server
After=network.target

[Service]
ExecStart=/usr/bin/triggerserver
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
Alias=triggerserver.service
